<div id="messagebg" style="position:fixed;z-index: 10001;display: none;width:100%;height:100%;left:0;top:0;background:#000;filter:alpha(opacity=50);-moz-opacity:0.5;-khtml-opacity: 0.5; opacity: 0.5;"></div>
<div id="messagetip" style="width:340px;height:200px;position:fixed;z-index: 10002;background: #fff;display: none;margin-right:20px;border-radius:4px;">
    <div class="tiptop"><span>提示信息</span><a onclick="closeconfirm();"></a></div>
    <div id="message" style="line-height: 30px;text-align: center;margin-top: 45px;font-size: 14px;color:#4D4D4D"></div>
    <div>
        <div class="but" style="float: left;width:110px;height: 30px;line-height: 30px;text-align: center;background: #388EC0;color: white;margin-left:42px;cursor: pointer;border-radius:4px;font-size:16px;margin-top:40px;"><a  style="display: block;color:#fff;font-size:16px;" onclick="confirmtrue()">确定</a></div>
        <div class="but" onclick="closeconfirm();" style="width:110px;height: 30px;line-height: 30px;text-align: center;float: left;background: #C9D0D3;color: white;margin-left:34px;cursor: pointer;border-radius:4px;font-size:16px;margin-top:40px;">关闭</div>
        <div style="clear:both; font-size: 0; height: 0; line-height: 0;"></div>
        <input type="hidden" name="param" id="param" value="">
    </div>
</div>


<script>
    function showconfirm(message,n){
        $("#message").html(message);
        var width=$(window).width();
        var height=$(window).height();
        var newwidth=width-300;
        var newheight=height-150;
        var marginleft=newwidth/2+"px";
        var margintop=(newheight/2)-100+"px";
        $("#messagetip").css({"top":margintop,"left":marginleft});
        $("#messagetip").css("display","block");
        $("#messagebg").css("display","block");
        $("#param").attr('value',n);                      //为即将进行的操作赋值参数
    }

    function closeconfirm(){
        $("#messagetip").css("display","none");
        $("#messagebg").css("display","none");
    }

    function confirmtrue(){
        $("#messagetip").css("display","none");
        $("#messagebg").css("display","none");
        var n=$("#param").attr('value');
        deltrue(n);
    }

</script>