<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>欢迎登录后台管理系统</title>
    <link href="STATIC_ADMIN_CSS/style.css" rel="stylesheet" type="text/css" />
    <script language="JavaScript" src="STATIC_ADMIN_JS/jquery.js"></script>
    <script src="STATIC_ADMIN_JS/cloud.js" type="text/javascript"></script>

    <script language="javascript">
        $(function(){
            $('.loginbox').css({'position':'absolute','left':($(window).width()-692)/2});
            $(window).resize(function(){
                $('.loginbox').css({'position':'absolute','left':($(window).width()-692)/2});
            })
        });
    </script>

</head>

<body style="background-color:#1c77ac; background-image:url(STATIC_ADMIN_IMG/light.png); background-repeat:no-repeat; background-position:center top; overflow:hidden;">

<div id="mainBody">
    <div id="cloud1" class="cloud"></div>
    <div id="cloud2" class="cloud"></div>
</div>

<div class="logintop">
    <span>欢迎登录后台管理界面平台</span>
   <!-- <ul>
        <li><a href="#">回首页</a></li>
        <li><a href="#">帮助</a></li>
        <li><a href="#">关于</a></li>
    </ul>-->
</div>

<div class="loginbody">
    <span class="systemlogo"></span>
    <div class="loginbox">
        <ul>
            <li><input name="mg_name" id="mg_name" type="text" class="loginuser"placeholder="管理员名称"/></li>
            <li><input name="mg_pwd"  id="mg_pwd" type="text" class="loginpwd" placeholder="密码"/></li>
            <li><input name="" type="button" class="loginbtn" value="登录"  onclick="loginaction()"  /><label><input name="" type="checkbox" value="" checked="checked" />记住密码</label><label></label></li>
        </ul>
    </div>
</div>
<include file="Public:tipinfo" />
<!--<div class="loginbm">版权所有  2013  <a href="http://www.uimaker.com">uimaker.com</a>  仅供学习交流，勿用于任何商业用途</div>-->
<script>
   function loginaction(){
       var mg_name=$('#mg_name').attr('value');
       var mg_pwd=$('#mg_pwd').attr('value');

       $.post('__URL__/index',{mg_name:mg_name,mg_pwd:mg_pwd},function(data){
            if(data==-1) showtip('用户名或密码不得为空');
            if(data==-2) showtip('密码不正确');
            if(data==0) showtip('该管理员信息不存在或已被关闭');
            if(data==1){
                window.location.href="__APP__/Index/index";
            }
       })
   }
</script>
</body>
</html>
